* {
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

/*===================================  NAVIGASI BAR ===================================== */
nav {
    background-color: #249224;
    /* position: fixed; */
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}


.navbar-menu ul {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    /* background-color: #000000; */
}


.navbar-logo img {
    /* float: left; */
    justify-self: start;
    width: 130px;
    padding-top: 5px;
    margin: auto;
}


.navbar-menu a:hover {
    color: black;
}

/* ========================= BODY PERTAMA ================================== */


.main-header {
    background-image: url(https://github.com/MBNug/CFDS-B15/raw/master/4337-min.jpg);
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
}

span {
    color: #248f24;
}


.main-header h1 {

    font-size: 60px;
    margin-bottom: 5px;
}

.main-header h2 {
    margin-bottom: 80px;
    font-size: 30px;
}

p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 10px 0;
}

.button-title {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.cari {
    border: none;
    background-color: white;
    border-radius: 50px;
    opacity: 0.9;
    width: 600px;
    padding: 10px 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    border: none;
    padding: 10px 10px;
    width: 60px;
    border-radius: 50px;
    background-color: #248f24;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.button:hover {
    background-color: black;
    color: white;
}

.button-class {
    display: flex;
    justify-content: center;
}

.daftar {
    background-color: #248f24;
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.daftar:hover {
    background-color: #000000;
}

.login {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: small;

}

.login:hover {
    background-color: #248f24;
}

.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
}

.btn:hover {
    opacity: 1;
}

.fa {
    margin-right: 10px;
    color: white;
}

/*=========================== Body bagian 2 ============================================*/
.konten {

    background-color: #e9e9e9;
    padding: 150px 0;
    width: 100%;
    height: 300px;
}

.flex-list {
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
}

.flex-list li {
    flex: auto;
    justify-content: space-around;
    background-color: black; 
}

.container-1 ul {
    list-style: none;
    margin: 0px;
    padding: 60px; 
    text-align: center;
    /* background-color: black; */
}

.kebutuhan{
    background-color: white;
    width: 200px;
	height: 250px;
    text-align: center;
    float: left;
	margin-right: 20px;
	border-radius: 30px;
	line-height: 20px;
	color: #3e3c3c;
}

.kebutuhan-click{
    background-color: white;
    width: 200px;
	height: 250px;
    text-align: center;
    float: left;
	margin-right: 20px;
	border-radius: 30px;
	line-height: 20px;
    color: #3e3c3c;
    cursor: pointer;
}
.kebutuhan-click:hover{
    background-color: rgba(100, 100, 100, 0.144);
}
.kebutuhan h1{
    text-align: left;
    line-height: 30px;
    padding: 25px;
}

.kebutuhan-click h2{
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.kebutuhan-click p{
    color: gray;
    margin: 20px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.yuk-cari {
    background-color: #248f24;
    height: 30px;
    color: rgb(255, 255, 255);
	margin: 30px 0px 5px 40px;
    box-shadow: none;
    font-size: medium;
    border-radius: 20px;
    cursor: pointer;
}

.yuk-cari:hover{
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
}


/* ======================== BAGIAN 3 ==================================== */
.massage-wrapper {
    text-align: center;
    padding-top: 40px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 82.5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}

.pesan h1{
    text-align: center;
    margin-bottom: 29px;
    color: #F3B267;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    
}
.pesan span {
    color: #F82828;
    font-family: 'Poppins', sans-serif;
}

.subscribtion{
    width: 384px;
    height: 30px;
    padding: 5px;
    margin-bottom: 13px;
    border-radius: 10px;
}

.subscribe{
    background-color: #FF0000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border: none;
    width: 168px;
    height: 29px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 4px #da0707;
    
}
.subscribe:active{
    position: relative;
    top: 5px;
    box-shadow: none
}
.subscribe:hover{
    background-color: rgba(255, 0, 0, 0.657);
}

/* =============================FOOTER======================== */
.footer{
    display: flex;
    justify-content: space-around;
}

.footer-logo{
    padding: 35px;
}
.footer-logo h1{
    font-size: medium;
}
.footer-logo a{
    font-size: small;
    color: gray;
    font-family:'Montserrat', sans-serif
}

.footer-logo a:hover{
    color: rgba(128, 128, 128, 0.705);
}

.footer-logo2{
    padding: 35px 0;
}
.footer-logo2 h1{
    font-size: medium;
}
.footer-logo2 h1{
    font-size: medium;
}

.facebook{
    background-color: #0077FF;
    text-align: center;
    border-radius: 50px;
    font-size:xx-small;
    font-family:'Montserrat', sans-serif;
    padding: 10px;
    cursor: pointer;
}
.facebook:hover{
    background-color: #0077ffb6;
}

.twitter{
    background-color: #4497F6;
    text-align: center;
    border-radius: 50px;
    font-size:xx-small;
    font-family:'Montserrat', sans-serif;
    padding: 10px;
    cursor: pointer;
}
.twitter:hover{
    background-color: #4497f6bc;
}

.youtube{
    background-color: #FA0606;
    text-align: center;
    border-radius: 50px;
    font-size:xx-small;
    font-family:'Montserrat', sans-serif;
    padding: 10px;
    cursor: pointer;
}

.youtube:hover{
    background-color: #fa06069b;
}


