@media screen and (max-width: 768px){
    .navbar-menu ul{
        width: 250px;
    }
}

@media screen and(max-width: 576px){
    body{
        overflow-x: hidden;
    }
    .navbar-menu ul{
        display: none;
    }
    nav{
        width: 25%;
    }
    /* .flex-list{
        flex-wrap: wrap;
        flex-direction: column; }*/
    
    .flex-list li{
        margin: 10px auto;
    }
}